body{
    font-family: 'Poppins', sans-serif;
    
}

.nav-b a{
    font-weight: 500;
    color: black;
}

.nav-b{
    background-color: white;
}

.welcome{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2b70fa;
    font-size: 14px;
    font-weight: 500;
}

.manage{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 22px;
}

.d-i{
    text-decoration: none;
    color: white;
    text-align: center;

}

.d-a{
    text-decoration: none;
    color: #0e1133;
    text-align: center;

}

.b-ii{
    background-color: #0e1133;
    border-style: solid;
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
}

.b-an{
    background-color: white;
    border-style: solid;
    border-radius: 15px;
    padding: 13px;

}

.ios-ic{
    color: white;
}

.b-ii:hover .ios-ic{
    color: #0e1133;
}

.b-ii:hover .d-i{
    color: #0e1133;
}

.b-ii:hover{
    background-color: white;
}

.b-an:hover .an-ic{
    color: white;
}

.b-an:hover .d-a{
    color: white;
}

.b-an:hover{
    background-color: #0e1133;
}

.bafg{
    background-color: #FF3E66;
    border-radius: 500px;
    margin-top: -163px;
}

.bag{
    background-color:#EEF1F6 ;
}

.bag2{
    background-color: white;
    border-radius: 12px;
    height: 298px;
    margin-left: 41px;
    width: 289px;
}

.bag-ico{
    border-radius: 19px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 23px;
    margin-top: 31px;
    margin-bottom: 35px;
}

.bag-h{
    text-align: center;
    font-family: cursive;
}

.not{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px 0px rgb(14 17 51 / 10%);
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin-left: 152px;
    margin-top: 19px;
}

.ic2c{
    border-radius: 30px;
    padding: 3px;
    margin-left: -17px;
    margin-right: 12px;
    color: white;
}

.link-bl{
    text-decoration: none;
    color: black;
    border-style: solid;
    padding: 11px;
    border-radius: 13px;
    border-color: #7a7777;
    transition: all .7s;
}

.link-bl:hover{
    color: white;
    background-color: #2b70fa;
}

.lastof{
    font-size: 30px;
    position: absolute;
    margin-top: 235px;
    margin-left: -211px;
    
}

.opp{
    transition: all .7s;
    overflow: hidden;
}

.opp:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

.face-ic{
    font-size: 25px;
    color: white;
    background-color: #3b5998;
    border-radius:8px ;
    padding: 11px;
}

.go-ic{
    font-size: 25px;
    color: white;;
    background-color:#dd4b39 ;
    border-radius:8px ;
    padding: 11px;
}

.tw-ic{
    font-size: 25px;
    color: white;
    background-color: #1DA1F2;
    border-radius:8px ;
    padding: 11px;
}

.li-ic{
    font-size: 25px;
    color: white;
    background-color: #0077b5;
    border-radius:8px ;
    padding: 11px;
}



.last-p{
    cursor: pointer;
}

.last-p:hover{
    color: #915ee9;
}